.conteiner-main {
  display: flex;
}

.filters {
  width: 30%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 60%; 
}

.product-item {
  width: 300px;
  margin: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  flex: 1;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}