:host ::ng-deep .p-carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:host ::ng-deep .p-carousel-container {
  width: 75%;
}

:host ::ng-deep .p-carousel-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow: auto;
}

.mb-3 img {
  max-width: 100%;
  max-height: 50%;
  height: 280px;
  width: 100%;
}

.conteiner-main {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.container-products {
  flex: 1; 
  max-width: 50%; 
}

.conteiner-main>*:first-child {
  align-self: stretch;
  width: 20%; 
  margin: 0 40px; /* Márgenes iguales a ambos lados */
  height: auto;
  
}



.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  flex: 1;
  text-align: center;
  padding: 5%;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-actions{
  text-align: center;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  max-width: 100%;
  background-color: #eee;
}

.product-item {
  flex: 0 0 30%; 
  margin: 10px;
  background-color: white;
}

@media (max-width: 1325px) {
  .product-item {
    flex: 0 0 45%; 
  }
}

@media (max-width: 576px) {
  .product-item {
    flex: 0 0 100%; 
  }
}