<div class="card">
    <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="5000">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                    <img src="/assets/img/offerBanner2.png" class="w-100 shadow-2"  />
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>


<div class="conteiner-main">
    <div class="filters">
        <p-card header="Categorias">
            <p-panel header="Precio" [toggleable]="true">
                <p-slider [(ngModel)]="rangeValues" [range]="true"></p-slider>
  
            </p-panel>
               

            <p-divider></p-divider>
            <p-panel header="Tipo de oferta" [toggleable]="true">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!    </p>
            </p-panel>
               

            <p-divider></p-divider>

            <p-panel header="Marcas" [toggleable]="true">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!    </p>
            </p-panel>
            
                <p-divider></p-divider>  
                
          
        </p-card>
    </div>

    <div class="container-products">
        <p-dataView #dv [value]="products">
            <ng-template pTemplate="list" let-products>
                <div class="product-list">
                    <div class="product-item" *ngFor="let item of products; let first = first">
                        <div class="product-card" [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <img class="product-image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image" [alt]="item.name" />
                            <div class="product-details">
                                <div class="product-name">{{ item.name }} - Lorem ipsum dolor sit amet  sit amet
                                    <p></p>
                                </div>

                                <span class="product-price">{{ '$' + item.price }}</span>
                               
                            </div>
                            <div class="product-actions">
                                <button pButton class="md:align-self-end mb-2 p-button-rounded" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'">Sumar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>